@model List<MusicWeb.Models.Song>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="./assets/images/logos/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet" />
    <!-- Core Css -->
    @*<link rel="stylesheet" href="./assets/css/theme.css" />*@

    <script src="~/Scripts/playSong.js"></script>

    <style>
        .background-image {
            position: relative;
            background-size: cover;
            background-position: center;
            height: 300px;
            border-radius: 20px;
        }

        .content-overlay {
            position: absolute;
            top: 50%;
            left: 28%;
            transform: translate(-50%, -50%);
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            width: 50%;
            border-radius: 20px;
        }

            .content-overlay h1 {
                font-size: 1.5rem;
            }

        .btn-play {
            background-color: cyan;
            color: black;
            transition: background-color 0.3s;
            border-radius: 20px;
        }

            .btn-play:hover {
                background-color: transparent;
                color: cyan;
            }

        .btn-follow {
            background-color: transparent;
            border: 2px solid cyan;
            color: cyan;
            transition: background-color 0.3s, color 0.3s;
            margin-left: 10px;
            border-radius: 20px;
        }

            .btn-follow:hover {
                background-color: cyan;
                color: black;
            }

        .popular_song {
            margin-top: -40px;
            padding: 15px;
            background-color: #021526;
            border-radius: 10px;
            height: 100%;
        }

            .popular_song .h4 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                color: white;
            }

        .pop_song {
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .songWrapper {
            display: flex;
            transition: transform 0.3s ease;
            height: 100%;
        }

        .songItem {
            flex: 0 0 auto;
            width: 120px;
            background-color: #243642;
            border-radius: 5px;
            padding: 10px;
            transition: transform 0.3s;
            margin: 4px;
        }

            .songItem:hover {
                transform: scale(1.05);
            }

        .img_play {
            position: relative;
        }

            .img_play img {
                width: 100%;
                border-radius: 5px;
            }

        .playListPlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            display: none;
            cursor: pointer;
        }

        .songItem:hover .playListPlay {
            display: block;
        }

        .songItem h5 {
            color: white;
            font-size: 14px;
            padding-top: 5px;
            align-content: center;
        }

        .subtitle {
            color: gray;
            font-size: 13px;
        }

        #leftScroll, #rightScroll {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }

        .popular_artists {
            margin-top: 7px;
            padding: 15px;
            background-color: #021526;
            border-radius: 10px;
            margin-bottom: 20px;
        }

            .popular_artists .h4 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
                color: white;
            }

        .artistContainer {
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            display: flex;
            transition: transform 0.3s ease-in-out;
        }

        .artistItem {
            background-color: transparent;
            border-radius: 5px;
            width: 100px;
            padding: 5px;
            margin-right: 10px;
            text-align: center;
            transition: transform 0.3s;
        }

            .artistItem:hover {
                transform: scale(1.05);
            }

        .img_artist {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            overflow: hidden;
        }

            .img_artist img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

        .artistItem h5 {
            color: white;
            font-size: 14px;
            padding-top: 5px;
            align-content: center;
            margin-top: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #left_scrolls, #right_scrolls {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <main>
        <!--start the project-->
        <div class="mb-5 position-relative">
            <div class="background-image" style="background-image: url('/Images/bg.png');">
                <div class="content-overlay">
                    <h1 class="display-4 font-weight-bold mb-2">Alan Walker - Fade</h1>
                    <p class="text-muted mb-4">You were the shadow to my light. Did you feel us? Another start. You fade away, afraid our aim is out of sight. Wanna see us alive.</p>
                    <div>
                        <button class="btn btn-play text-dark px-4 py-2 mr-2">PLAY</button>
                        <button class="btn btn-follow text-cyan-400 px-4 py-2">FOLLOW</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular_song">
            <div class="h4">
                <h4>Popular Song</h4>
                <div class="btn_s">
                    <i id="leftScroll" class="bi bi-arrow-left-short"></i>
                    <i id="rightScroll" class="bi bi-arrow-right-short"></i>
                </div>
            </div>

            <div class="pop_song">
                <div class="songWrapper">
                    @foreach (var song in ViewBag.PopularSongs)
                    {
                        <div class="songItem" data-index="@song.SongID">
                            <div class="img_play">
                                <img src="~/Images/SongsIamge/@song.ImageURL" alt="Alan Walker">
                                <i class="bi playListPlay bi-play-circle-fill" title="Play"></i>
                                <audio id="audio_@song.SongID" src="~/MusicMP3/@song.AudioFile"></audio>
                            </div>
                            <h5>
                                @song.SongTitle
                                <br />
                                <span class="subtitle">@song.Artist.ArtistName</span>
                            </h5>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="popular_artists">
            <div class="h4">
                <h4>Popular Artists</h4>
                <div class="btn_s">
                    <i id="left_scrolls" class="bi bi-arrow-left-short"></i>
                    <i id="right_scrolls" class="bi bi-arrow-right-short"></i>
                </div>
            </div>
            <div class="artistContainer">
                @foreach (var a in ViewBag.FamousArtists)
                {
                    <div class="artistItem">
                        <div class="img_artist">
                            <img src="~/Images/SingersImage/@a.Avatar" alt="Artist Name">
                        </div>
                        <h5 class="artist-name">@a.ArtistName</h5>
                    </div>
                }
            </div>
        </div>
        <!--end of project-->
    </main>

</body>
</html>